nitrogen/
google-chrome/
Code/
ibus/
pulse/
gh/
dconf/
*.list
*.dirs
*.locale
*.dic
*.exc
*.source
*.xml
accels
bookmarks
search-metadata
gnome-initial-setup-done
.gsd-keyboard.settings-ported
gtk-2.0/gtkfilechooser.ini