configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
  show-icons: true;
  icon-theme: "Papirus";  
  font: "JetBrainsMono Medium 12";

  drun {
    display-name: "";
  }

  run {
    display-name: "";
  }

  window {
    display-name: "";
  }

  timeout {
    delay: 10;
    action: "kb-cancel";
  }
}

@theme "onedark"